<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
        <title>Phone Book | {{ title }}</title>
    </head>
    <body class="bg-dark text-white">
        <div class="row bg-dark">
            <h1 class="text-center text-white">Phone Book</h1>
        </div>

        <nav class="nav bg-dark d-flex justify-content-around border-bottom">
            <a href="{{ url_for('phonebook.index') }}" class="link-light">Home</a>
            {% if current_user.is_authenticated %}
                <a href="{{ url_for('phonebook.phonebookentry') }}" class="link-light">Add Contacts</a>
                <a href="{{ url_for('phonebook.myphonebook') }}" class="link-light">View Your PhoneBook</a>
                <a href="{{ url_for('auth.logout') }}" class="link-light">Log Out</a>
            {% else %}
                <a href="{{ url_for('auth.signup') }}" class="link-light">Sign Up</a>
                <a href="{{ url_for('auth.login') }}" class="link-light">Sign In</a>
            {% endif %}
        </nav>

        <div class="container mt-1">
            {% include 'alert_message.html' %}
            {% block content %}

            {% endblock content %}
        </div>

    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    </body>
</html>