{% extends 'base.html' %}

{% block content %}
    <h2>Sign In:</h2>
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control", placeholder="Username") }}

            {{ form.password.label }}
            {{ form.password(class="form-control", placeholder="Password") }}

            {{ form.submit(class="btn btn-primary w-100 mt-2") }} 
        </div>


    </form>
    
{% endblock content %}