{% extends 'base.html' %}

{% block content %}

    {% if not books %}
        <div>
            <h2>It seems like your PhoneBook is empty, consider adding some entries <a href="{{ url_for('phonebook.phonebookentry') }}" class="link-light">here</a>.</h2>
        </div>
    {% endif %}

    <div class="row">
        {% for book in books %}
            <div class="col-sm-4 col-lg-3">
                <div class="card bg-dark border-secondary d-flex m-1 overflow-auto" style="min-width: 12rem; min-height:10rem; max-height: 10rem">
                    <div class="card-body">
                        <h5 class="title">{{book.first_name}} {{book.last_name}}</h5>
                        <p class="card-text">{{book.phone_number}}</p>
                        <p class="card-text">{{book.address}}</p>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
{% endblock content %}